.card-title {
  @mixin title 28px;
}
.card-text {
  @mixin title-regular 18px;
  margin-top: 16px;
}
.entry {
  width: 100%;
  max-width: 160px;
  input {
    border-radius: 12px;
    height: 64px;
    font-size: 30px;
    text-align: center;
    margin-top: 24px;
  }
}
.entry-item {
  @mixin title-regular 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  height: 80px;
  justify-content: center;
  margin-top: 24px;
}
